<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <!-- <link href="{{ url_for('html', path='/css/styles.css') }}" rel="stylesheet"> -->
    <title>TheRjBlog</title>
</head>

<body>

    <header>
        <nav>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="posts.html">Posts</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="about.html">About Me</a></li>
            </ul>
        </nav>
        <div id="void"></div>
    </header>

    <main>
        <article class="article-section">
            <h2>A Full Life</h2>
            <img style="width: 100%; height: auto; margin: 0 auto; display: block;" alt="Before Your Eyes - A Full Life"
                class="detail__media__img-highres  js-detail-img  js-detail-img-high"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgamecritics.com%2Fwp-content%2Fuploads%2F2021%2F04%2Fdhjfgk.jpg&f=1&nofb=1&ipt=65d547621f593bbec0f0febe15a829ed491344df1ba63b1d5147ae86b389e5ff&ipo=images">
            <p>
                Before your eyes, your life will pass and end before you realize <br>
                On a society where legacy is always wanted and sell as the only path in life <br>
                Those who struggle, feel like it is pointless to live at all <br>
                Because how would you build a legacy? <br>
                When you didn't even know how much time left you have <br>
                <br>
                It may be for a terminal illness <br>
                Or for a pain, you didn't know how much time more you would be able to withstand <br>
                It may be physical or mental, it may be visible or invisible for the other ones <br>
                It may be a fear of life ending without being able to do anything at all <br>
                Or to ending it with your own hands. <br>
                <br>
                It's scary and frustrating to think <br>
                That you are fighting for a future that you may never live to see <br>
                But for those struggling with the fear of building a road you will never be able to walk <br>
                I want to remind you that a full life does not require a legacy to full be <br>
                <br>
                It doesn't require you to have what society considers a successful life <br>
                To be rich, famous or your field revolutionize <br>
                Because sometimes we get lost thinking about the life we aim to get <br>
                And forget to enjoy the life we are living today <br>
                <br>
                And with that, I'm not saying that your pain is not real or valid at all <br>
                I'm saying that thinking the only way to enjoy life is to get to a determined path <br>
                Will only make you forget about what life truly are <br>
                <br>
                Because life is not a set-list of objectives to catch <br>
                Life is not something that have a goal from a start <br>
                The only thing that gives meaning to it <br>
                Is the way you impact and connect with others in it <br>
                <br>
                I know you're tired to hear that everything will get better with time <br>
                Because time has proven you the contrary many times <br>
                So instead, I want you to stop thinking that if you fail your objectives meet <br>
                Your life will be pointless and sad <br>
                <br>
                Because even if your life end today <br>
                The impact you have on people around you will last <br>
                Life is not about what you get <br>
                But instead, how you interact <br>
                <br>
                Big and epic stories are overvalued to the point which it is sick how much emphasis society gives us to
                get one <br>
                Because more important of a “legacy” that you would never be able to withstand <br>
                Is the impact you have on the people you love and how they will accompany you on your path <br>
                <br>
                Because no amount of magnum opus will be even closer to what <br>
                Impact your life will have in the people who around you are <br>
                I will not say you to stop thinking about how much time left you have <br>
                Because you are the only one who knows the pain you withstand <br>
                <br>
                Rather, I'll tell you that instead of trying to get a legacy in the time you have <br>
                Try to enjoy every moment of life you have <br>
                That doesn't mean you give up with the future <br>
                But to prioritize your present over all <br>
                <br>
                Don't overdo yourself trying to get to a path where you can finally happiness have <br>
                Be kind to yourself and do as much for your future as you can without your present ruining for that <br>
                If you can't with everything life seems to demand <br>
                Let your future plans “fail” for your present to succeed <br>
                Because don't let the story of the great life you think you wanted to live <br>
                Make you forget about the great life you already had <br>
                <br>
                Even when you feel that only thing in your path was disgrace and dread <br>
                If you are still here is because there is something that still make you want to wake up every day <br>
                You may not realize it yet <br>
                Specially because society has made us think that there has to be something great and meaningful to make
                us still live <br>
                <br>
                But even if it's your pet or that stream you watch before sleep <br>
                If that is what makes you want to live, then let it be <br>
                Because the meaning of life should not be determined for anyone but you <br>
                Because life is too short to still be wondering if it is valid for something too small <br>
                Because at the end, when our life end before your eyes, those small things are what will make you feel
                like you live a <em>full life</em> <br>

            </p>
        </article>
    </main>

    <footer></footer>
</body>

</html>